<p>
  <% if not @current_user %>
  	<%= link_to 'Signup', signup_url %> |
    <%= link_to 'Login', login_url %> |
  <% end %>
  <% if @current_user %>
	  <% if @current_user.role == "general" %>
	  <%= link_to 'Top Content', @current_user %> |
	  <% end %>
	    <% if @current_user.role == "Admin" %>
	  <%= link_to 'Home', @current_user %> |
	  <% end %>
	  	<%= link_to 'My Information', edit_user_path(@current_user) %> |
	  <%= link_to 'Logout', logout_path %>
	<% end %>
</p>